	<!DOCTYPE html>
<html>
<head>
  <title>FishBowlFriday</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
 
  <%= csrf_meta_tags %>
</head>
<body style="background: #F0F0F0"


<%= yield %>

</body>
</html>
